* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-image: url("/images/image.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.logo {
  font-size: 1.7rem;
  color: #fafafa;
  font-weight: 600;
  padding-right: 40rem;
  animation: glitch;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #3b3743;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav a:hover {
  color: rgb(255, 251, 8);
  border-bottom: 3px solid cyan;
}

.navbaritem {
  display: flex;
}
.navbaritem a {
  display: flex;
  font-size: 1.2rem;
  margin: 10px;
  color: #f3f3f3;
  text-decoration: none;
  transition: 0.4s none;
}

.nama1 {
  padding: 7rem;
  position: relative;
  top: 5rem;
}

.nama2 {
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 7rem;
  bottom: 2rem;
}

#wil {
  color: yellow;
  overflow: hidden;
}

.text1 {
  position: absolute;
  left: 49rem;
  bottom: 20rem;
  padding-right: 260px;
}

.text2 {
  position: absolute;
  top: 18rem;
  padding-right: 50rem;
  padding-left: 7rem;
}

.shape {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 650px;
  height: 90px;
  position: relative;
  left: 22rem;
  top: 19rem;
  background-color: #515161;
  box-shadow: 5px 0 0 0;
  backdrop-filter: blur(10px);
}

.shape0 {
  position: relative;
  width: 170px;
  height: 4px;
  left: 7rem;
  bottom: 8rem;
  background-color: rgb(255, 251, 0);
}

.foto {
  position: relative;
  bottom: 200px;
  left: 22rem;
  opacity: 60%;
}

/* .btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 35px;
    bottom: 11rem;
    right: 15rem;
    border-radius: 80px;
    animation: fadeInGallery 3s ease-in;
} */

.ido {
  position: relative;
  color: white;
  justify-content: center;
  display: flex;
  bottom: 9rem;
  right: 19rem;
}

/* .hni2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 15rem;
    bottom: 14rem;
    opacity: 60%;
} */

/* .nmr {
    color: rgb(238, 255, 1);
    display: flex;
    justify-content: center;
    position: relative;
    right: 20rem;
    bottom: 30rem;
    justify-content:center;
    gap: 12rem;
    font-size: 28px;
} */

.icon {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  position: relative;
  bottom: 12rem;
  gap: 50px;
  color: #f5c857;
}

.icon :hover {
  box-shadow: 0 0;
  transform: translate(3px, 3px);
  transition: all 200ms ease;
}

.Aboutme {
  color: yellow;
  justify-content: center;
  position: relative;
  left: 8rem;
  bottom: 15rem;
}

.aboutmetxt {
  color: white;
  padding-right: 50rem;
}
